<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FrontBurner.Ministry.MseBuilder.Properties.Settings.GoodteachingOrgConnectionString" connectionString="Dsn=MySQL;database=goodteaching_org_min;description=MySQL;option=0;port=0;server=wizard;uid=root;pwd=Coyote99" providerName="System.Data.Odbc" />
        <add name="FrontBurner.Ministry.MseBuilder.Properties.Settings.GoodTeachingConnectionString" connectionString="server=wizard;user id=goodteaching;Password=psalm45;persist security info=True;database=goodteaching_org_min" providerName="MySql.Data.MySqlClient" />
        <add name="FrontBurner.Ministry.MseBuilder.Properties.Settings.BugzillaConnectionString" connectionString="server=hercules;user id=bugs;Password=bugs;persist security info=True;database=bugs" providerName="MySql.Data.MySqlClient" />
        <add name="FrontBurner.Ministry.MseBuilder.Properties.Settings.goodteaching_org_minConnectionString" connectionString="server=wizard;user id=root;persist security info=True;database=goodteaching_org_min" providerName="MySql.Data.MySqlClient" />
        <add name="FrontBurner.Ministry.MseBuilder.Properties.Settings.WizardGoodTeachingConnectionString" connectionString="server=wizard;user id=gt;password=psalm45;persistsecurityinfo=True;database=goodteaching_org_min" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
